<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion de Empresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        a{

        color:white;
        }
        a:hover {
            color:white;
            text-decoration=none;
        }
    </style>
</head>
<body class="body1">
<br>
<button type="button" class="btn btn-danger"  style="float:right"><a th:href="@{/logout}">Cerrar sesión</a></button>
    <div class="div1">
<!-- Logo y botones principales -->

    </div>

    <div class="centrar">
        <h1 class="texto">Bienvenido a la Gestión de Ingresos y Egresos</h1>
    </div>
    <br>
    <div class="centrar">
        <!--<button type="button" class="btn btn-danger"><a th:href="@{/verEmpresas/}">Empresas</a></button> -->
        <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpresas}">Empresas</a></button>
    </div>
    <br>
    <div class="centrarBoton2">
        <button type="button" class="btn btn-primary"><a th:href="@{/VerEmpleado}">Empleados</a></button>
    </div>
    <br>
    <div class="centrarBoton2">
        <button type="button" class="btn btn-primary"><a th:href="@{/VerMovimientos}">Movimientos de Dinero</a></button>
    </div>
<br>
<p th:inline="text"> User: [[${#httpServletRequest.remoteUser}]]</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
