<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/styles.css}"> <!-- Hoja de Estilos-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        a{

        color:white;
        }
        a:hover {
            color:white;
            text-decoration=none;
        }
    </style>
</head>
<body>

<div class="w3-row titulo">
    <div class="w3-half" style="width:300px"><img src="images/Logo.jpeg" width="300" height="200" th:href="@{/index}"> </div>
    <div class="w3-black w3-center mw-100"> <br>
        <h1 class="w3-text-white h1"><b>Lista de Empresas <br>Stark Industries</b></h1>
        <p class="w3-opacity" style="float:right">User: [[${#httpServletRequest.remoteUser}]]</p>
    </div>
</div>

<div class="w3-row">
    <div class="w3-quarter">
        <div class="menu">
            <nav class="navbar">
                <ul class="navbar-nav list-group">
                    <br>
                    <li class="nav-item text-center list-group-item">
                        <a class="nav-link" th:href="@{/VerEmpresas}">Empresas</a>
                    </li>
                    <li class="nav-item text-center list-group-item">
                        <a class="nav-link" th:href="@{/VerEmpleado}">Empleados</a>
                    </li>
                    <li class="nav-item text-center list-group-item">
                        <a class="nav-link" th:href="@{/VerMovimientos}">Movimientos de Dinero</a>
                    </li>
                </ul>
            </nav>

            <br>
            <br>
            <br>

            <br>
        </div>
    </div>
    <div class="w3-rest">
        <div class="contenido">
            <div>
                <br>
                <button type="button" class="btn btn-danger"  style="float:right"><a th:href="@{/logout}">Cerrar sesión</a></button>
                <br>
                <br>
            </div>

            <div class="w3-row">
                <div class="container tabla">
                    <br>
                    <br>
                    <!--Dibujamos la tabla-->
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>NIT</th>
                            <th>Empleados</th>
                            <th>Movimientos</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>

                        <!--Llenamos la tabla dibujada-->
                        <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
                        <tr th:each="empresa: ${emplist}">
                            <td th:text="${empresa.id}"></td>
                            <td th:text="${empresa.nombre}"></td>
                            <td th:text="${empresa.direccion}"></td>
                            <td th:text="${empresa.telefono}"></td>
                            <td th:text="${empresa.NIT}"></td>
                            <td><button type="button" class="btn btn-info"><a th:href="@{/Empresa/{id}/Empleados (id=${empresa.id})}">Ver</a></button></td>
                            <td><button type="button" class="btn btn-primary"><a th:href="@{/Empresa/{id}/Movimientos (id=${empresa.id})}">Ver</a></button></td>
                            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpresa/{id}(id=${empresa.id})}">Editar</a></button></td>
                            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.id})}">Eliminar</a></button></td>
                        </tr>
                    </table>

                    <!-- vamos a crear un botón que sirva para agregar nuevas empresas-->
                    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpresa}">Agregar Nueva Empresa</a></button>
                    <br>
                    <br>

                </div>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
             "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }
    }
</script>
</body>

</html>