.imagen{
    background-image: url(/images/fondo.jpg);
    background-repeat: no-repeat;
}
.centrar{
    display: flex;
    justify-content: center;
    margin-top 400px;}

.centrarBoton2{
    display: flex;
    justify-content: center;
    margin-top 20px;}


.texto{
    color: white;
    text-align: center
    margin-top: 40px;
}

.contenedor{
    background-color: chartreuse;
    width: 400px;
    height: 60px;
}
.centrarContenedor{
    display: flex;
    justify-content: center;
}

.centrarTabla{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px
    }

.fondo{
background-color: gold;
}